section.wrapper.style1
  .container
    .row(class='200%')
      section.4u(class='12u(narrower)')
        .box.highlight
          a(href='#') #[h3 References]
          p Coming Soon
      section.4u(class='12u(narrower)')
        .box.highlight
          a(href='/about.html') #[h3 About Us]
          p Learn more about the company.
      section.4u(class='12u(narrower)')
        .box.highlight
          a(href='/portfolio.html') #[h3 Portfolio]
          p Check out everything we have caught on camera. Coming Soon.

