nav#nav
	ul
		li.current
			a(href='/') Home
		li.current
			a(href='/residential.html') Residential
		li.current
			a(href='/commercial.html') Commercial
		li.current
			a(href='/plowing.html') Plowing & Snow
		li.current
			a(href='/tractor.html') Excavation & Tractor Services