extends layout

include mixins

block main
	section.wrapper.style1
		.container
			.row
				.4u(class='12u(narrower)')
					h3 Excavation & Tractor Services
					p With our Kubota mini excavator and Kubota compact tractor there is not many jobs that we cannot handle. With over ten years of experience operating equipment we will move through your job fast and efficiently. 
					p Here are some of the services that we provide:
					ul
						li Drainage work
						li Driveway repairs and maintenance
						li Stump removal
						li Land clearing
						li Grading
						li Landscape Preparation
						li Underground Utilities
						li Field Mowing
						li Brush Hogging
				.8u(class='12u(narrower)')
					.row
						img.6u(src='/images/mini at work.jpg' class='6u(narrower)')
						img.6u(src='/images/brush hogging.jpg' class='6u(narrower)')
					.row
						img.6u(src='/images/tracor.jpg')
						img.6u(src='/images/mini on trailer.jpg')